name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  RULES_VERSION: v1.4.0
  EXPECTED_TRACES: 8785

jobs:
  ci-basic:
    runs-on: ubuntu-latest
    container: gitlab/gitlab-runner-helper:ubuntu-x86_64-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Run tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check
        env:
          SEQRA_GITHUB_ACTOR: ${{ secrets.SEQRA_GITHUB_ACTOR }}
          SEQRA_GITHUB_TOKEN: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Upload Gradle reports
        if: (!cancelled())
        uses: actions/upload-artifact@v4
        with:
          name: gradle-reports-ci-basic
          path: '**/build/reports/'
          retention-days: 1

  ci-se:
    runs-on: ubuntu-latest
    container: gitlab/gitlab-runner-helper:ubuntu-x86_64-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Run tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: seqra-jvm-sast-se:check
        env:
          SEQRA_GITHUB_ACTOR: ${{ secrets.SEQRA_GITHUB_ACTOR }}
          SEQRA_GITHUB_TOKEN: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Upload Gradle reports
        if: (!cancelled())
        uses: actions/upload-artifact@v4
        with:
          name: gradle-reports-ci-se
          path: '**/build/reports/'
          retention-days: 1

  ci-owasp:
    if: ${{ vars.SEQRA_SAST_CONTAINER_CI }}
    runs-on: ubuntu-latest
    container: cruizba/ubuntu-dind:focal-25.0.3
    permissions:
      contents: read
      packages: read

    steps:
      - name: Setup Git
        run: apt update && apt install -y git

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build analyzer jar
        run: ./gradlew :projectAnalyzerJar
        env:
          SEQRA_GITHUB_ACTOR: ${{ secrets.SEQRA_GITHUB_ACTOR }}
          SEQRA_GITHUB_TOKEN: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Checkout owasp
        uses: actions/checkout@v4
        with:
          repository: 'OWASP-Benchmark/BenchmarkJava'
          path: ./test-dir/OWASP

      - uses: robinraju/release-downloader@v1.12
        with:
          repository: ${{ github.repository_owner }}/seqra
          token: ${{  secrets.SEQRA_GITHUB_TOKEN }}
          latest: true
          fileName: seqra_linux_amd64.tar.gz
          out-file-path: seqra-cli

      - run: |
          cd seqra-cli
          tar -xzf seqra_linux_amd64.tar.gz

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.11'

      - name: Build owasp
        run: |
          seqra-cli/seqra compile test-dir/OWASP --github-token ${{ secrets.SEQRA_GITHUB_TOKEN }} --output test-dir/seqra-project --verbosity debug

      - name: Checkout rules
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.SEQRA_GITHUB_TOKEN }}
          repository: '${{ github.repository_owner }}/seqra-rules'
          ref: ${{ env.RULES_VERSION }}
          path: ./test-dir/seqra-rules

      - name: Analyze owasp
        run: |
          java \
            -Dorg.seqra.ir.impl.storage.defaultBatchSize=2000 \
            -Djdk.util.jar.enableMultiRelease=false \
            -Xmx8g \
            -jar build/libs/seqra-project-analyzer.jar \
            --project test-dir/seqra-project/project.yaml \
            --semgrep-rule-set test-dir/seqra-rules \
            --output-dir test-dir/reports \
            --ifds-analysis-timeout=1000 \
            --logs-file test-dir/analyzer.log \
            --verbosity debug

      - name: Check report exists
        run: |
          if [ -e "test-dir/reports/report-ifds.sarif" ]; then
            echo "Report exists"
          else
            echo "Report does not exist"
            exit 1
          fi

      - name: Check stats
        run: |
          STATS="$(cat test-dir/analyzer.log | grep "TraceGenerationStats")"
          echo $STATS
          echo $STATS | grep -q "total=${{ env.EXPECTED_TRACES }}"
